body {
  background-color: #fafafa;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container {
  background-color: #4ba0c2;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
}
.title{
  color: #1e1e1e;
}
.todo-app h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.row input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  margin-right: 10px;
}

.row button {
  background-color: #4ba0c2;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #4ba0c2;
  padding: 10px 15px;
  margin: 8px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-style {
  color: rgb(237, 56, 56);
  cursor: pointer;
  font-size: 1.4rem;
}
