.card-heading{ 
    margin-bottom:3.2rem;
}
.card{
    box-shadow: 0 0 1em #00000020;
    border-radius: 5px;
    margin: 20px;
}
img{
    width: 100%;
}
.card-content{
    padding:3.2rem 1.2rem; 
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.super_hit{
    background-color: rgb(50, 242, 59);
    border-radius: 5px;
    font-weight: bold;
}
.average{
    background-color: rgb(136, 136, 14);
    border-radius: 5px;
    font-weight: bold;
}